@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/ibmplexmono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fragment Mono';
  src: url('/fonts/fragmentmono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/dmmono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-font: 'Fragment Mono', 'IBM Plex Mono', 'Courier New', Courier, monospace;
  --secondary-font: 'DM Mono', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --light-theme: #ffeedf;
  --light-text: #252525;
  --dark-theme: #231a1b;
  --dark-text: #faf9f6;

  font-family: var(--primary-font);
  line-height: 1.5;

  color: var(--light-text);
  background-color: var(--light-theme);
  stroke: var(--light-text);
  transition:
    color 0.5s,
    background-color 0.5s,
    stroke 0.5s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  cursor: url('/cursors/point.png'), auto;
}

header {
  padding: 1.5rem;
}

a,
button,
svg[gift],
svg[theme-btn],
img[pow-block] {
  cursor: url('/cursors/hand_open.png'), pointer;
  color: inherit;
}

canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

p {
  font-size: small;
}

svg {
  stroke: inherit;
}

@keyframes shake {
  0% {
    transform: translateX(0) translateY(0);
  }
  5% {
    transform: translateX(-5px) translateY(-2px);
  }
  10% {
    transform: translateX(5px) translateY(2px);
  }
  15% {
    transform: translateX(-5px) translateY(-3px);
  }
  20% {
    transform: translateX(5px) translateY(3px);
  }
  25% {
    transform: translateX(-5px) translateY(-2px);
  }
  30% {
    transform: translateX(5px) translateY(2px);
  }
  40% {
    transform: translateX(-4px) translateY(1px);
  }
  50% {
    transform: translateX(4px) translateY(-1px);
  }
  60% {
    transform: translateX(-3px) translateY(0);
  }
  70% {
    transform: translateX(3px) translateY(1px);
  }
  80% {
    transform: translateX(-2px) translateY(0);
  }
  90% {
    transform: translateX(2px) translateY(-1px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.shake {
  animation: shake 1s ease-in-out;
}

img[pow-block] {
  border: 1px solid black;
}

div[theme] {
  max-height: 24px;
  text-align: right;
}

div[toolbar] {
  max-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

div[container] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div[row] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div[about-me] > h1 {
  font-size: 5vw;
}

div[about-me] > p {
  font-size: 2vh;
}

div[about-me] {
  padding: 1rem;
}

canvas[stippler] {
  padding: 1rem;
}

button[resume] {
  --inherited-color: inherit;
  border: 1px solid;
  border-color: inherit;
  font: inherit;
  font-size: 14px;
  padding: 1vw 5vw 1vw 5vw;
  background-size: 200% 100%;
  background-color: inherit;
  transition: background-position 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

button[resume]:hover {
  background-color: inherit;
  background-position: -100% 0;
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
  transition-duration: 0.3s;
}

ul[socials] {
  display: flex;
  list-style: none;
  padding: 1rem;
  margin: 0;
}

ul[socials] > li {
  padding: 0.5rem;
}

ul[socials] svg {
  opacity: 0.75;
  transform: translateY(2px);
  transition:
    opacity 0.7s,
    transform 0.7s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

ul[socials] svg:hover {
  opacity: 1;
  transform: translateY(5px);
  transition:
    opacity 0.2s,
    transform 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

div[bar] {
  background-image: linear-gradient(to right, #252525, #e4c1a2, #303030);
  border-radius: 50px;
  width: 10rem;
  height: 0.1rem;
}

ul[repogrid] {
  padding: 1rem;
  grid-template-columns: repeat(12, minmax(0px, 1fr));
  display: grid;
  width: 100%;
  gap: 2rem 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

li[repoelement] {
  grid-column-end: span 6;
  grid-template-columns: minmax(0px, 1fr);
  display: grid;
  grid-row-end: span 1;
}

div[repobox] {
  display: flex;
  width: auto;
  min-height: 150px;
}

div[repo] {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: inherit;
  flex-direction: column;
  position: relative;
  padding: 0px;
  overflow: hidden;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

div[skeleton]::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(178, 167, 157, 0) 0%,
    rgba(178, 167, 157, 0.1) 20%,
    rgba(178, 167, 157, 0.3) 60%,
    rgba(178, 167, 157, 0) 100%
  );
  animation: shimmer 2s infinite;
  content: '';
}

@media (prefers-color-scheme: dark) {
  :root.dark {
    color: var(--dark-text);
    background-color: var(--dark-theme);
    stroke: var(--dark-text);
    transition: all 0.5s;
    border-color: rgba(255, 255, 255, 0.1);
  }
  div[repo].dark {
    border-color: rgba(255, 255, 255, 0.03);
    transition: all 0.5s;
  }
  div[repo].dark::after {
    background-image: linear-gradient(
      90deg,
      rgba(35, 26, 27, 0) 0%,
      rgba(62, 47, 48, 0.2) 20%,
      rgba(62, 47, 48, 0.5) 60%,
      rgba(35, 26, 27, 0) 100%
    );
    transition: all 0.5s;
  }
}

@media only screen and (min-width: 1024px) {
  li[repoelement] {
    grid-column-end: span 4;
  }
}

@media only screen and (min-aspect-ratio: 6 / 3) {
  div[about-me] > h1 {
    font-size: 12vh;
  }

  div[about-me] > p {
    font-size: 1vw;
  }

  button[resume] {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  li[repoelement] {
    grid-column-end: span 12;
  }

  ul[repogrid] {
    column-gap: min(9.09091%, 2rem);
  }

  header {
    padding: 0.5rem;
  }

  #profile {
    flex-direction: column;
  }

  div[about-me] {
    text-align: center;
    margin: 0;
  }

  div[about-me] > h1 {
    font-size: 10vw;
  }

  div[about-me] > p {
    font-size: 2vh;
  }

  canvas[stippler] {
    padding: 0;
    margin: 0;
  }
}
